img {
    height: 100px;
    width: auto
}

.counter {
    background-color: #0F5257;
    padding: 2em;
    display: inline-block;
    align-items: center;
}

.country-info {
    padding: 2em;
    width: 1000px;
    align-items: center;
}